<router-outlet></router-outlet>
Menu
<mat-sidenav-container>

    <mat-sidenav opened #sidenav opened="false">
        <p>Menu</p>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <div>
                <button (click)="sidenav.toggle()">Show</button>
            </div>

            <div> LOGO </div>
            
            <div>
                <a routerLink="/signup">Signup</a>
                <a routerLink="/login">Login</a>
                <a routerLink="/cart">Cart</a>
                <a routerLink="/shop">Shop</a>
            </div>

        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>


</mat-sidenav-container>